/.idea
/__pycache__
/Include
/Testing
/Lib
/Scripts
/cogs/assets
/cogs/__pycache__
/cogs/data
/cogs/cog archives
/cogs/assets/profile/wz_profile_images
!cogs/assets/image_cache/.gitkeep
/cogs/assets/image_cache/*
pyvenv.cfg
start.bat
settings.py
